body {
  font-family: "Segoe UI","Helvetica Neue","Noto Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}  
li {
  list-style-type:none;
}

li:hover{
  background-color:#76BED0;
  color:#fff;
  cursor:pointer;
  
}

ul {
  display:flex;
  flex-direction:column;
}

.options, .form-sign-up, .form-sign-in  {
  border-width: 1px;
  border-style: solid;
  border-color:#C0CCDA;
  border-radius:2px;
  margin: 0px;
  width: 25%;
  background-color:#FFFFFF;
}

.dot {
  width: 5px;
  height: 5px;
  margin: 3px;
  background: #C0CCDA;
  border-radius: 50%;
  display: block;
}

.wrap-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.dots:hover .dot{
  background-color:#76BED0;
}

/* .dots {
  width: 60px;
  height: 60px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */


.descript-home {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  height: 90vh;
  background: url(assets/img/home-bg.jpg) no-repeat center center;
  background-size: contain;
  background-attachment: fixed;
  font-size: 25px;
  background-position: left;
  background-size: cover;
}

.box {
  padding:20px;
}

.logo {
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

.btn-outline-success {
  background-color: #47525E;
  color: #FFFFFF;
  border: #47525E solid 2px;
}

.btn-secondary {
  margin: 5px;
}

/* Sign Up / Sign In*/

.form-sign-up, .form-sign-in {
  width: 100%;
  padding: 5px;
  background-color: #EDD432;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90vh; 
}

.form-title {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #1F2D3D;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

.form-label {
  font-weight: bold;
  color: #47525E;
  margin-bottom: 0;
}

.form-btn {
  padding: 5px 25px;
  background-color: #76BED0;
  color: #343F4B;
  font-weight: bold;
  border: 0;
}

.form-or {
  position: relative;
  margin: 20px 0 20px 0;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #47525E;
}

.form-icons {
  flex-direction: row;
}

.form-forgot {
  margin: 20px 0;
  
}

.form-forgot-link {
  text-decoration: underline;
  color: #47525E;
}

.bg-navbar {
  background-color: #76BED0;
}

/* TimeLine */
.bg-navbar-yellow {
  background-color: #FDE845;
}

.bg-timeline-blue {
  background-color: #CAE9ED;
  padding-top: 0.5rem;
}

.timeline-logo {
  width: 23%;
}

.profile-avatar {
  font-size: 3rem;
  color: gray;
  margin-right: 0.7rem;
}

.create-post-avatar {
  font-size: 2rem;
  color: lightgrey;
  margin-right: 0.5rem;
}

.create-post-area {
  margin: 1.5rem 0.8rem;
}

.post-area {
  width: 17.4rem;
  height: 8rem;
  color: grey;
  font-weight: bold;
  background-color: lightgrey;
  border: transparent;
}

.privacy-post-select {
  font-size: 0.8rem;
  font-weight: bold;
  color: grey;
  height: 1.2rem;
  background-color: lightgrey;
}

.view-filter-p {
  margin: 0.8rem;
}

.btn-privacy-filter {
  margin: 0.8rem;
}

.post-timeline-margin {
  margin: 0.5rem;
}

.fa-ellipsis-v {
  font-size: 1.5rem;
  color: grey;
}

.full-name-post {
  font-weight: bold;
  color: gray;
}

.post-timeline-text {
  color: gray;
}

.like-count {
  color: #FDE845;
  font-weight: bold;
}

.far {
  color: #FDE845;
  font-weight: bold;
}

.fas-like {
  color: #FDE845;
  font-weight: bold;
}

.form-sign-up, .container-triangle {
  display: none;
}
.descript-text{
  font-family: 'Advent Pro';
  text-align: justify;
  hyphens: auto;
  color: rgb(252, 238, 160);
}

@media (min-width: 1280px) {
  .timeline-logo {
    width: 5%;
  }

  .create-post-area {
    display: flex;
    justify-content: center;
  }

  .descript-home {
    display: -webkit-box;
    background-position: unset;
    text-align: -webkit-center;
  }

  .logo {
    max-height: 100%;
  }

  .form-sign-up{
    background: rgba(0,0,0,0.1);
    margin: 10%;
    border: none;
    height: 79vh;
    padding: 1em;
  }

  .form-label, .form-title {
    color: #FFFF;
    font-weight: 100;
    font-size: 1em;
  }
  
  #left {
    float: left;
    height: 500px;
    width: 342px;
    shape-outside: polygon(0.33% 3px, 100.23% 0.17%, 2px 99.73%);
  }

  p, h1 {
    
  }

  .container-triangle {
        width: 15em;
    /* margin-right: 2em; */
    padding-right: 4em;
    margin-top: -8em;
  }

  .responsive-hide {
    display: none;
  }

  .resonsive-show {
    display: block;
  }

  
}

