body {
  font-family: "Segoe UI","Helvetica Neue","Noto Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}  

li {
  list-style-type:none;
}

li:hover {
  color:#fff;
  cursor:pointer;  
}

ul {
  display:flex;
  flex-direction:column;
}

li:hover,
.dots:hover .dot,
.form-btn,
.bg-navbar  {
background-color: #76BED0;
}

.options,
.form-sign-up,
.form-sign-in {
  border-width: 1px;
  border-style: solid;
  border-color:#C0CCDA;
  border-radius:2px;
  margin: 0px;
  width: 25%;
  background-color:#FFFFFF;
}

.dot {
  width: 5px;
  height: 5px;
  margin: 3px;
  background: #C0CCDA;
  border-radius: 50%;
  display: block;
}

.wrap-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.description-home {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100vh;
  background: url(assets/img/home-bg.jpg) no-repeat center center;
  background-size: contain;
  background-attachment: fixed;
  font-size: 25px;
  background-position: left;
  background-size: cover;
}

.box {
  flex-basis: 65%;
  padding:20px;
}

.logo {
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

.btn-outline-success {
  background-color: #47525E;
  color: #FFFFFF;
  border: #47525E solid 2px;
}

.btn-secondary {
  margin: 5px;
}

.form-sign-up, .form-sign-in {
  width: 100%;
  padding: 5px;
  background-color: #EFB600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 90vh; 
}

.full-name-post,
.form-title,
.form-label,
.form-btn,
.form-or  {
  font-weight: bold;
}

.form-title {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #1F2D3D;
  margin: 30px 0;
  text-align: center;
}

.form-label {
  color: #47525E;
  margin-bottom: 0;
}

.form-btn {
  padding: 5px 25px;
  color: #343F4B;
  border: 0;
}

.form-or {
  position: relative;
  margin: 20px 0 20px 0;
  font-family: Lato, sans-serif;
  font-size: 13px;
  color: #47525E;
}

.form-icons {
  flex-direction: row;
}

.form-forgot {
  margin: 20px 0;  
}

.form-forgot-link {
  text-decoration: underline;
  color: #47525E;
}

.bg-navbar-yellow {
  background-color: #FDE845;
}

.bg-timeline-blue {
  background-color: #CAE9ED;
  padding-top: 0.5rem;
}

.timeline-logo {
  width: 23%;
}

.post-timeline-text,
.profile-avatar,
.privacy-post-select,
.post-area,
.fa-ellipsis-v,
.full-name-post {
  color: grey;
}

.profile-avatar {
  font-size: 3rem;
  margin-right: 0.7rem;
}

.create-post-avatar {
  font-size: 2rem;
  color: lightgrey;
  margin-right: 0.5rem;
}

.create-post-area {
  margin: 1.5rem 0.8rem;
}

.privacy-post-select,
.post-area {
  font-weight: bold;
  background-color: lightgrey;
}

.post-area {
  width: 17.4rem;
  height: 8rem;
  border: transparent;
}

.privacy-post-select {
  font-size: 0.8rem;
  height: 1.2rem;
}

.view-filter-p {
  margin: 0.8rem;
}

.btn-privacy-filter {
  margin: 0.8rem;
}

.post-timeline-margin {
  margin: 0.5rem;
}

.fa-ellipsis-v {
  font-size: 1.5rem;
}

.like-count,
.far,
.fas-like {
  color: #FDE845;
  font-weight: bold;
}

.form-sign-up-desktop, .container-triangle {
  display: none;
}

.description-text {
  font-family: 'Advent Pro';
  text-align: inherit;
  hyphens: auto;
  color: rgb(252, 238, 160);
}

.container-profile {
  display: flex;
  flex-direction: column-reverse;
  justify-items: center;
  align-items: baseline;
}

.edit-profile {
  background-color: #CCCCCC;
  padding: 2em;
  margin: 3px auto 3px;
  border-radius: 20px;
}

.pic-edit-profile {
  width: 50%;
  opacity: 0.2;
  fill: #EDD432;
}

.other-profile-avatar{
  font-size: 4rem;
  color: #76BED0;
}

.input-group {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .timeline-logo {
    width: 5%;
  }

  .create-post-area {
    display: flex;
    justify-content: center;
  }

  .description-home {
    display: flex;
    background-position: unset;
    align-items: center;
    height: 90vh;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description-text {
    text-align: justify;
  }

  .logo {
    max-height: 100%;
  }

  .form-sign-up-desktop {
    background: rgba(0,0,0,0.1);
    margin: 10%;
    border: none;
    height: 79vh;
    padding: 1em;
  }

  .form-label, .form-title {
    color: #FFFF;
    font-weight: 100;
    font-size: 1em;
  }
  
  #left {
    float: left;
    height: 500px;
    width: 342px;
    shape-outside: polygon(0.33% 3px, 100.23% 0.17%, 2px 99.73%);
  }

  .container-triangle {
    width: 15em;
    padding-right: 4em;
    margin-top: -8em;
  }

  .responsive-hide {
    display: none;
  }

  .resonsive-show {
    display: block;
  }

  .container-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
  }
  
  .container-profile * {
    flex-basis: 40%;
  }

  .justify-content-between {
    align-self: center;
  }

  .align-items-baseline {
    align-self: flex-end;
  }

  .post-area {
    width: 68.4rem;
    height: 12rem;    
  }
}
